*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.head {
    width: 100%;
    height: 35px;
    background-color:#404040; 
    display: flex;
}
.head .left {
    width: 50%;
}
.head .left ul{
    display: flex;
    justify-content: flex-start; 
}
.head .right{
    width: 50%;
}
.head .right ul{
    display: flex;
    justify-content: flex-end; 
}
.head .right ul li{
    color: #878787;
    padding: 8px 10px;
    font-family: Arial;
    font-size: 14px;
    transition: 0.7s;
    cursor: pointer;
}
.head .right ul li:hover{
    color: #e00034;
}

.head .left ul #li-1{
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    border-top: 2px solid #E00034;
    color: #FFFFFF;
    padding: 6px 15px;
    font-family: Arial;
    cursor: pointer;
}
.head .left ul #li-2{
    cursor: pointer;
    color: #878787;
    padding: 8px 10px;
    font-family: Arial;
}
.head .left ul #li-2:hover{
    color: #e00034;
}
.head .right ul  #last{
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-top: 2px solid #E00034;
}

.header{
    position: sticky;
    top: 0px;
    z-index: 20;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.851);
    border-bottom: 1px solid rgba(171, 171, 171, 0.507);
}

.header ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header ul li{
    padding-top: 15px;
   width: 140px;
    text-shadow: none;
    font-style: normal;
    line-height: 24px;
    padding-left: 25px;
    font-size: 15px;
    color: #4c4c4c;
    font-family: Arial;
    position: relative;
    transition: 0.5s;
    
}
.header #li1::after{
    display: block;
    content: "";
    width: 55px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #li1:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #nm1::after{
    display: block;
    content: "";
    width: 70px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #nm1:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #li3::after{
    display: block;
    content: "";
    width: 80px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #li3:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #nm2::after{
    display: block;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #nm2:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #nm3::after{
    display: block;
    content: "";
    width: 70px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #nm3:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #li4::after{
    display: block;
    content: "";
    width: 80px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #li4:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #nm4::after{
    display: block;
    content: "";
    width: 65px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #nm4:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
.header #nm5::after{
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background-color: #e00034;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    transition: 0.5s;
}
.header #nm5:hover::after{
    opacity: 1 !important;
    bottom: 0px;
    /* color:#e00034 ; */
}
/* .header #li1:hover{
    color: #e00034;
} */
.header ul li a{
    color: #4c4c4c;
    text-decoration: none;
}

.header .search {
    width: 20%;
    /* text-align: end; */
display: flex;
justify-content: flex-end;
}

.header .search .fa-solid{
    padding-right: 20px;
    display: flex;
}
.header ul li .fa-solid{
    padding-left: 5px;
}

.header ul  #finish {
    margin-top: 19px;
    width: 100px;
    height: 91px;
    background-color: #e00034;
    padding-top: 20px;
    color: white;
    padding-right: 4px
}
.header ul  #finish a{
    color: white;
}
.carusel{
    width:100%;
    height: 500px;
}
.card{
    width: 80%;
    height: 75vh;
    margin: 0px auto;
   /* border: 10px solid rgb(162, 12, 12); */
   display: flex;
   border: none !important;
   flex-direction: column;
}
.card h1{
    color: #E00034;
    font-size: 30px;
    font-weight: 200;
    position: relative;
    padding-bottom: 8px;
    padding-top: 40px;
    margin-bottom: 8px;
    line-height: 1.2;
    font-family: Arial;
    text-align: center;
}
.card .big-div .b-d h2{
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
}

.card .big-div .b-d h3{
    font-size: 14px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
    font-weight: 600;
}
.card .big-div .b-d .d{
    margin: 20px auto;
    display: flex;
}
.card .big-div .b-d .d .d1{
    padding: 0px 10px;
    background: rgb(255,255,255);
background: linear-gradient(310deg, rgba(255,255,255,1) 0%, rgba(204,204,204,0.8970938717283788) 100%);
   /* box-shadow: 0px 0px 2px 0px rgb(194, 193, 193); */
   border-radius:3px;
   text-align: center;
    height: 25px;
    margin-right: 2px;
    width: 34px;
    color: #4c4c4c;
}
.card .big-div .b-d button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #e00034;
    border: none;
    margin: 0px auto;
    transition: 0.5s;
}
.card .big-div .b-d button:hover{
    background-color: #e000349e;
    cursor:pointer;
}
.carousel button{
   padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 13rem;
    width: 33px;
    height: 33px;
 background-color: rgba(0, 0, 0, 0.514);
}

.card .mini{
    margin: 0px auto;
    width: 80px;
    height: 2px;
    margin-bottom: 30px;
    background-color: black;
}
.card .big-div{
display: flex;
width: 100%;
height: auto;
justify-content: space-between;
align-items: center;
}
.card .big-div .b-d{
    width: 31%;
    height: 370px;
    border: 1px solid rgba(175, 174, 174, 0.278);
    display: flex;
    border-radius: 18px;
    flex-direction: column;
}
.card .big-div .b-d .img{
   width: 100%;
    height: 50%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-image: url(./div1.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.card .big-div .b-d2{
    width: 31%;
    height: 370px;
    border: 1px solid rgba(175, 174, 174, 0.278);
    display: flex;
    border-radius: 18px;
    flex-direction: column;
}
.card .big-div .b-d2 .img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-image: url(./div2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.card .big-div .b-d3{
    width: 31%;
    height: 370px;
    border: 1px solid rgba(175, 174, 174, 0.278);
    display: flex;
    flex-direction: column;
    border-radius: 18px;
}
.card .big-div .b-d3 .img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background-image: url(./div3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.card .big-div .b-d2 h2{
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
}

.card .big-div .b-d2 h3{
    font-size: 14px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
    font-weight: 600;
}
.card .big-div .b-d2 .d{
    margin: 20px auto;
    display: flex;
}
.card .big-div .b-d2 .d .d1{
    padding: 0px 10px;
    background: rgb(255,255,255);
background: linear-gradient(310deg, rgba(255,255,255,1) 0%, rgba(204,204,204,0.8970938717283788) 100%);
   /* box-shadow: 0px 0px 2px 0px rgb(194, 193, 193); */
   border-radius:3px;
   text-align: center;
    height: 25px;
    margin-right: 2px;
    width: 34px;
    color: #4c4c4c;
}
.card .big-div .b-d2 button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #e00034;
    border: none;
    margin: 0px auto;
    transition: 0.5s;
}
.card .big-div .b-d2 button:hover{
    background-color: #e000349e;
    cursor:pointer;
}
.card .big-div .b-d3 h2{
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
}
.card .big-div .b-d3 h3{
    font-size: 14px;
    text-align: center;
    color: #4c4c4c;
    font-family: Arial;
    line-height: 1.5;
    font-weight: 600;
}
.card .big-div .b-d3 .d{
    margin: 20px auto;
    display: flex;
}
.card .big-div .b-d3 .d .d1{
    padding: 0px 10px;
    background: rgb(255,255,255);
background: linear-gradient(310deg, rgba(255,255,255,1) 0%, rgba(204,204,204,0.8970938717283788) 100%);
   /* box-shadow: 0px 0px 2px 0px rgb(194, 193, 193); */
   border-radius:3px;
   text-align: center;
    height: 25px;
    margin-right: 2px;
    width: 34px;
    color: #4c4c4c;
}

.card .big-div .b-d3 button{
    width: 120px;
    height: 50px;
    color: white;
    background-color: #e00034;
    border: none;
    margin: 0px auto;
    transition: 0.5s;
}
.card .big-div .b-d3 button:hover{
    background-color: #e000349e;
    cursor:pointer;
}

.main{
    width: 100%;
    height: 700px;
    background-color: rgba(211, 215, 216, 0.593);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.main #m1{
    width: 40%;
    height: 90%;
    background-image: url("./image-23-devices.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.8s;
    position: absolute;
    left:0px;
    opacity: 0;

}
.main  #m2{
    width: 40%;
    height: 90%;
    /* border: 1px solid green; */
    transition: 0.8s;
    right:180px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}
.div11{ 
    opacity: 1!important;
    left: 180px !important;
}

.main  #m2 #m21n{
    margin-left: 50px;
    width: 60%;
    height: 15%;
    display: flex;
    left:500px;
    position: absolute; 
    transition: 0.8s;     
    opacity: 0;
    top: 0px;

}
.m21{
    opacity: 1!important;
    right: 180px !important;  
}
.main  #m2 #m21n .img{
margin-right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    padding:15px
    
}
.main  #m2 #m21n .img img{
    width: 50px;
    height: 50px;
    
}

.main  #m2 #m21n .mn h5{
    margin-bottom: 15px;
    color: #1c1c1c;
    font-weight: 600;
    font-family: Arial;
    font-size: 18px;
    line-height: 24px;
}
.main  #m2 #m21n .mn p{
    font-size: 13px;
    color: #4C4C4C;
    cursor: pointer;
    font-family: Arial;
    line-height: 1.5;
}
.main  #m2 #m22n{
    margin-left: 50px;
    width: 60%;
    height: 15%;
    display: flex;
    left:500px;
    position: absolute; 
    transition: 1s;     
    opacity: 0;
    top: 100px;
}



.main  #m2 #m22n .img{
    margin-right: 15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        padding:15px
        
    }
    .main  #m2 #m22n .img img{
        width: 50px;
        height: 50px;
        
    }
    
    .main  #m2 #m22n .mn h5{
        margin-bottom: 15px;
        color: #1c1c1c;
        font-weight: 600;
        font-family: Arial;
        font-size: 18px;
        line-height: 24px;
    }
    .main  #m2 #m22n .mn p{
        font-size: 13px;
        color: #4C4C4C;
        cursor: pointer;
        font-family: Arial;
        line-height: 1.5;
    }
.main  #m2 #m23n{
    width: 70%;
    margin-left: 50px;
    height: 15%;
    display: flex;
    left:500px;
    position: absolute; 
    transition: 1.2s;     
    opacity: 0;
    top: 200px;
}
.main  #m2 #m23n .img{
    margin-right: 15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        padding:15px
        
    }
    .main  #m2 #m23n .img img{
        width: 50px;
        height: 50px;
        
    }
    
    .main  #m2 #m23n .mn h5{
        margin-bottom: 15px;
        color: #1c1c1c;
        font-weight: 600;
        font-family: Arial;
        font-size: 18px;
        line-height: 24px;
    }
    .main  #m2 #m23n .mn p{
        font-size: 13px;
        color: #4C4C4C;
        cursor: pointer;
        font-family: Arial;
        line-height: 1.5;
    }

    .main  #m2 #m24n{
        width: 60%;
        margin-left: 50px;
        height: 15%;
        display: flex;
        left:400px;
        position: absolute; 
        transition: 1.4s;     
        opacity: 0;
    top: 300px;

    }

    .main  #m2 #m24n .img{
        margin-right: 15px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: white;
            padding:15px
            
        }
        .main  #m2 #m24n .img img{
            margin-left: 10px;
            width: 35px;
            height: 50px;
            
        }
        
        .main  #m2 #m24n .mn h5{
            margin-bottom: 15px;
            color: #1c1c1c;
            font-weight: 600;
            font-family: Arial;
            font-size: 18px;
            line-height: 24px;
        }
        .main  #m2 #m24n .mn p{
            font-size: 13px;
            color: #4C4C4C;
            cursor: pointer;
            font-family: Arial;
            line-height: 1.5;
        }
.main  #m2 #m25n{
    width: 60%;
    margin-left: 50px;
    height: 15%;
    display: flex;
    left:500px;
    position: absolute; 
    transition: 1.6s;
    opacity: 0;
    top: 400px;
}
.m25n{
    opacity: 1 !important;
    left: 0px !important;

}
.main  #m2 #m25n .img{
    margin-right: 15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        padding:15px
        
    }
    .main  #m2 #m25n .img img{
        margin-left: 10px;
        width: 35px;
        height: 50px;
        
    }
    
    .main  #m2 #m25n .mn h5{
        margin-bottom: 15px;
        color: #1c1c1c;
        font-weight: 600;
        font-family: Arial;
        font-size: 18px;
        line-height: 24px;
    }
    .main  #m2 #m25n .mn p{
        font-size: 13px;
        color: #4C4C4C;
        cursor: pointer;
        font-family: Arial;
        line-height: 1.5;
    }
.main  #m2 #m26n{
    width: 90%;
    margin-left: 50px;
    display: flex;
    height: 15%;
    left:500px;
    position: absolute; 
    opacity: 0;
    transition: 1.8s;
    top: 500px;
}
.m26n{
    opacity: 1 !important;
    left: 0px !important;

}
.main  #m2 #m26n .img{
    margin-right: 15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: white;
        padding:15px
        
}
    .main  #m2 #m26n .img img{
        margin-left: 10px;
        width: 32px;
        height: 50px;
        
    }
    
    .main  #m2 #m26n .mn h5{
        margin-bottom: 15px;
        color: #1c1c1c;
        font-weight: 600;
        font-family: Arial;
        font-size: 18px;
        line-height: 24px;
    }
    .main  #m2 #m26n .mn p{
        font-size: 13px;
        color: #4C4C4C;
        cursor: pointer;
        font-family: Arial;
        line-height: 1.5;
    }

    .section{
        width: 100%;
        height: 300px;
      background-image: url(./roaming.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 0px 20px;
      z-index: 1;
      overflow: hidden;
      display: flex;
      flex-direction:column;
      /* align-items: center;
      justify-self:center; */
        }
    .section .img{
        width: 100%;
        height: 100%;
        background-image: url(./grid-30.png);
        background-color: rgba(0,0,0,0.5);
        position: relative;
    }

    .section #h1{
        /* padding-top: 2em; */
        /* text-align:center ; */
        text-shadow: 1px 1px 0 rgb(0 0 0 / 20%);
        color: #fff;
        font-size:30px;
        font-weight: 200 !important;
        line-height: 1.2;
        padding-bottom: 10px;
        font-family: Arial;
        position: absolute;
        top: 10px;
        margin-left: 650px; 
        visibility: hidden;
      transition: 0.8s;
        /* margin: 0px auto; */
        
    }

    .h1{
        top: 70px !important;
        visibility: visible !important;
    }
    .section #btn{
        /* margin: 0px auto; */
        vertical-align: middle;
        transition: all .1s linear;
        background: #fff;
        border: none;
    color: #000;
    width: 100px;
    height: 50px;
    margin-left: 700px; 
    margin-top: 70px; 
     position: absolute;
      bottom: 20px;
      /* transform: scale(0);
      transform-origin: bottom; */
      visibility: hidden;
      transition: 0.8s;
    }


    .btn{
        visibility: visible!important;
        /* transform: scale(1); */
        bottom: 80px !important;
    }
    .section2{
        width: 100%;
        height: 300px;
        /* border: 1px solid green; */
    }
    .section2 h1{
        font-size: 30px;
        margin-top: 40px;
        color: #E00034;
        margin-left: 700px;
    }

    .section2 .mini{
        /* margin: 0px auto; */
        width: 80px;
        height: 2px;
        margin-bottom: 30px;
        margin-top: 10px;
        margin-left: 700px;
        background-color: rgba(60, 60, 60, 0.374);
    }

.section2  #carouselExampleSlidesOnly{
   width: 100%;
   height: 200px;
   }

.section2 #carouselExampleSlidesOnly p{
    font-weight: 700;
    color: #4c4c4c !important;
    font-size: 0.8em;
    line-height: 1.4em;
    font-family: Arial;
    cursor: pointer;
    font-size: 16px;
    margin-left: 620px;
   }
   .section2 #carouselExampleSlidesOnly #p1{
    font-weight: 700;
    color: #4c4c4c !important;
    font-size: 0.8em;
    line-height: 1.4em;
    font-family: Arial;
    cursor: pointer;
    font-size: 16px;
    margin-left: 540px;
   }
   .section2 #carouselExampleSlidesOnly #p3{
    font-weight: 700;
    color: #4c4c4c !important;
    font-size: 0.8em;
    line-height: 1.4em;
    font-family: Arial;
    cursor: pointer;
    font-size: 16px;
    margin-left: 350px;
   }

   .section2 #carouselExampleSlidesOnly  #p2{
    font-family: Arial;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #7d7c7c !important;
    cursor: pointer;
    font-size: 16px;
    padding-top: 25px;
    margin-left: 10px;
    /* width: 900px; */
    text-align: center;

   }

   .section2 #carouselExampleSlidesOnly  #p4{
    font-family: Arial;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #7d7c7c !important;
    cursor: pointer;
    font-size: 16px;
    padding-top: 25px;
    margin-left: 5px;
    /* width: 900px; */
    text-align: center;

   }
.fotter{
    width: 100%;
    height: 500px;
 background: #404040;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.fotter .f1{
    width: 70%;
    /* border: 1px solid gainsboro; */
    margin: 0px auto;
    height: 400px; 
    color: #fff;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.fotter .f1 .f1-1{
    width: 37%;
    height: 70%;
    /* border: 1px solid gainsboro; */
}
.fotter .f1 .f1-1 ul{
    display: flex;
    flex-direction: column;
}
.fotter .f1 .f1-1 ul li{
 padding-bottom: 10px;
 font-size: 0.9em;
 transition: color .2s;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f1 .f1-1 ul li:hover{
    color: #c4c3c3; 
}
.fotter .f1 .f1-2 ul li:hover{
    color: #c4c3c3; 
}
.fotter .f1 .f1-3 ul li:hover{
    color: #c4c3c3; 
}
.fotter .f1 .f1-1 ul #li1{
    padding-bottom: 10px;
 font-size: 22px;
 transition: color .2s;
 font-weight: 600;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f1 .f1-1 ul li .m-d{
  width: 50px;
  background-color: #ffffff;
  height: 0.5px;
}
.fotter .f1 .f1-2{
    width: 30%;
    height: 70%;
    /* border: 1px solid gainsboro; */
}
.fotter .f1 .f1-2 ul li .m-d{
    width: 50px;
    background-color: #ffffff;
    height: 0.5px;
  }
  .fotter .f1 .f1-2 ul{
    display: flex;
    flex-direction: column;
}
.fotter .f1 .f1-2 ul li{
 padding-bottom: 10px;
 font-size: 0.9em;
 transition: color .2s;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f1 .f1-2 ul #li1{
    padding-bottom: 10px;
 font-size: 22px;
 transition: color .2s;
 font-weight: 600;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f1 .f1-3{
    width: 25%;
    height: 70%;
    /* border: 1px solid gainsboro; */
}
.fotter .f1 .f1-3 ul li .m-d{
    width: 50px;
    background-color: #ffffff;
    height: 0.5px;
  }
  .fotter .f1 .f1-3 ul{
    display: flex;
    flex-direction: column;
}
.fotter .f1 .f1-3 ul li{
 padding-bottom: 10px;
 font-size: 0.9em;
 transition: color .2s;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f1 .f1-3 ul #li1{
    padding-bottom: 10px;
 font-size: 22px;
 transition: color .2s;
 font-weight: 600;
 color: #e1e1e1;
 cursor: pointer;
}
.fotter .f2{
    height: 100px;
    width: 100%;
    margin: 0px auto;
    background: #2a2a2a; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fotter .f2 .f2-1{
    width: 40%;
    height: 40px;

}
.fotter .f2 .f2-1 p{
    color: #fff;
    font-size: 0.7em;
    font-family: Arial;
    text-align: center;
    padding-left: 30px
}
.fotter .f2 .f2-2{
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.fotter .f2 .f2-2 .face{
    padding: 2px 9px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
 
}
.fotter .f2 .f2-2 .face:hover{
    color:rgb(210, 207, 207) ;
    cursor: pointer;
}
.fotter .f2 .f2-2 .tvi{
    padding: 2px 6px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.fotter .f2 .f2-2 .tvi:hover{
    color:rgb(210, 207, 207) ;
    cursor: pointer;
}
.fotter .f2 .f2-2 .in{
    padding: 2px 6px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.fotter .f2 .f2-2 .in:hover{
    color:rgb(210, 207, 207) ;
    cursor: pointer;
}
.fotter .f2 .f2-2 .you{
    padding: 2px 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.fotter .f2 .f2-2 .you:hover{
    color:rgb(210, 207, 207) ;
    cursor: pointer;
}
.fotter .f2 .f2-2 .ins{
    padding: 2px 6px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.fotter .f2 .f2-2 .ins:hover{
    color:rgb(210, 207, 207) ;
    cursor: pointer;
}
#li31{
    position: relative;
    
}
#li31 #li31n{
    border-top: 3px solid #e00034;
    width: 1545px;
    position: absolute;
    left: -600px;
    top: 35px;
    z-index: 4;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.912);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
   transform: scale(0);
transform-origin: top;
   /* visibility: hidden; */
   /* opacity: 0; */
  
}
#li31 #li31n #bl{
    font-weight: 600;
}
#li31 #li31n li{
    font-weight: 500;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;

}
#li31 #li31n li:hover{
    color: rgb(149, 17, 17);
}
/* #li31:hover #li31n {
    transform: scale();
} */

.l3t{
transform: scaleY(1) !important;
/* opacity: 1; */
/* visibility: visible; */
transition: 1s;
}
#li32{
    position: relative;
    display: flex;
    
}
#li32 #li32n{
    border-top: 3px solid #e00034;
    width: 1553px;
    position: absolute;
    left: -1000px;
    top: 35px;
    z-index: 4;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.912);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
   transform: scale(0);
transform-origin: top;
box-sizing: border-box;
}
#li32 #li32n #bl2{
    font-weight: 600;
}
#li32 #li32n li{
    font-weight: 400;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;

}
#li32 #li32n li:hover{
    color: rgb(158, 31, 31);
}
#li30{
    position: relative;
    display: flex;
    
}
#li30 #li30n{
    border-top: 3px solid #e00034;
    width: 1521px;
    position: absolute;
    left: -303px;
    top: 35px;
    z-index: 4;
    height: 310px;
    background-color: rgba(255, 255, 255, 0.912);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
   transform: scale(0);
transform-origin: top;
box-sizing: border-box;
}
#li30 #li30n #bl0{
    font-weight: 600;
}
#li30 #li30n li{
    font-weight: 400;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;

}
#li30 #li30n li:hover{
    color: rgb(191, 28, 28);
}
.msmn{
    width: 30px;
    height: 30px;
    background-color: #0000007e;
    color: white;
    position: relative;
    /* position: fixed;
    z-index: 6; */
    bottom: 10px;
    left: 20px;
    transition: 1s;

}

.msmn a{
    padding: 9px;
    color: white;
}